{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Wedding &mdash; Eva Liron</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wedding of Eva & Liron" />
	<meta name="keywords" content="wedding, eva, liron" />
	<meta name="author" content="Liron" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">Wedding<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-left menu-1">
					<ul>
						<li class="active"><a href="/he">עברית</a></li>
						<li><a href="/fr">Francais</a></li>
						
					</ul>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="/he">Home</a></li>
						<li><a href="#fh5co-couple-story">Story</a></li>
						<li class="has-dropdown">
							<a href="#fh5co-gallery">Gallery</a>
						</li>
						<li><a href="/contacthe">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({% static 'images/img_bg_2.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>לירון &amp; אווה</h1>
							<h2>! מתחתנים</h2>
							<div class="simply-countdown simply-countdown-one"></div>
							<p><a href="#fh5co-started" class="btn btn-default btn-sm">להרשם</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>! ברוכים הבאים</h2>
					<h3>28 August 2022</h3>
					<p>!מחכים לכם בחתונה שלנו</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="{% static 'images/groom.jpg' %}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>לירון הימברט</h3>
						<p>בן 28 לומד הנדסה תוכנה</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="{% static 'images/bride.jpg' %}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>אווה בן חמו</h3>
						<p>בת 26 לומדת הנדסה כימית</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url({% static 'images/img_bg_3.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>האירועים שלנו</span>
					<h2>בחתונה שלנו</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>החתונה</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>18:30</span>
										<h3>קבלת פנים</h3>
										<span>19:30</span>
										<h3>חופה</h3>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>יום ראשון ב-28</span>
										<span>אוגוסט, 2022</span>
									</div>
									<p>החתונה תתקיים באולם אליבה באופקים</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>מידע נוסף</h3>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>יישוב-אליבה, אופקים, ישראל</span>
										<span></span>
									</div>
									<p><a href="/contacthe">כאן </a>למידע נוסף, נא ללחוץ </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>We Love Each Other</span>
					<h2>הסיפור שלנו</h2>
					<p>..הכל התחיל ברגע שנפגשנו באותה מכללה</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url({% static 'images/couple-1.jpg' %});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">הכרנו בפעם הראשונה</h3>
									<span class="date">ב-25 ב-יוני 2018</span>
								</div>
								<div class="timeline-body">
									<p>ע"י חברה טובה שגרמה לנו להכיר במהלך מסיבה. דיברנו המון וידענו מאז שנהיה מתאימים אחד לשני</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url({% static 'images/couple-2.jpg' %});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title"> הדייט הראשון שלנו התקיים</h3>
									<span class="date">ב-5 ליולי 2018</span>
								</div>
								<div class="timeline-body">
									<p>בבית הפנקייק מה שגרם לנו להכיר אחד את השניה יותר והנשיקה הראשונה כבר קרתה בדרך חזרה הבייתה</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url({% static 'images/couple-3.jpg' %});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">במהלך הזוגיות שלנו</h3>
									<span class="date">מה-5 ב-יולי 2018</span>
								</div>
								<div class="timeline-body">
									<p>התחלנו להיות שותפים בחיים שלנו מכוון שאנחנו לומדים באותה מכללה ונפגשים כל יום, חייוך ענת על השפתיים. אפכנו להיות כל כך שותפים ברמה שאי אפשר לדמות</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url({% static 'images/couple-4.jpg' %});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">עד האירוסין שלנו</h3>
									<span class="date">11 במרץ 2021</span>
								</div>
								<div class="timeline-body">
									<p>אפשר להגיד שגדלנו ביחד. הבחירה שלהיות ביחד ולהקים משפחה היא הבחירה הכי רצוייה שבחרנו</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Wedding Gallery</h2>
					<p>באהבה, Eva & Liron</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
						
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-1.jpg' %}); "> 
						<a href="{% static 'images/gallery-1.jpg' %}">
							<div class="case-studies-summary">
								<span>1</span>
								<h2>We</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-2.jpg' %}); ">
						<a href="#" class="color-2">
							<div class="case-studies-summary">
								<span>2</span>
								<h2>are</h2>
							</div>
						</a>
					</li>


					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-3.jpg' %}); ">
						<a href="#" class="color-3">
							<div class="case-studies-summary">
								<span>3</span>
								<h2>most</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-4.jpg' %}); ">
						<a href="#" class="color-4">
							<div class="case-studies-summary">
								<span>4</span>
								<h2>alive</h2>
							</div>
						</a>
					</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-5.jpg' %}); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>5</span>
									<h2>when</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-6.jpg' %}); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>6</span>
									<h2>we</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-7.jpg' %}); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>7</span>
									<h2>are</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-8.jpg' %}); "> 
							<a href="#" class="color-5">
								<div class="case-studies-summary">
									<span>8</span>
									<h2>in</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-9.jpg' %}); ">
							<a href="#" class="color-6">
								<div class="case-studies-summary">
									<span>9</span>
									<h2>love <3 </h2>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url({% static 'images/img_bg_5.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-users"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="250" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">מוזמנים</span>

							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-user"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="300" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">סה'כ מוזמנים</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-calendar"></i>
								</span>
								<span class="counter js-counter" data-from="1" data-to="1" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">אירועים</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="7" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">זמן החתונה (ש)</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-started" class="fh5co-bg" style="background-image:url({% static 'images/img_bg_4.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>? האם תהיה נוכח</h2>
					<!--<p>.אנא מלא את השדות למטה. תודה</p>-->
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<!-- <form class="form-inline" action="/added" method="POST" id="users-form" autocomplete="off" role="main">
						{% csrf_token %}
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">שם משפחה</label>
								<input name="lname" type="text" class="form-control"  placeholder="שם משפחה" required>
							</div>
							<div class="form-group">
								<label for="number" class="sr-only">מס' מוזמנים איתך</label>
								<input name="numinvite" type="number" class="form-control"  placeholder="מס' מוזמנים איתך" value="0">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">שם פרטי</label>
								<input name="fname" type="text" class="form-control" placeholder="שם פרטי" required>
							</div>
							<div class="form-group">
								<label for="name" class="sr-only">..אני</label>
								<div class="col-lg-10">
									<div class="form-check-horizontal">
										<label class="custom-control custom-radio custom-control-inline">
											<input type="radio" class="custom-control-input" name="participate" checked placeholder="Placeholder" value="Yes">
											<span class="custom-control-label">ישתתף</span>
										</label>

										<label class="custom-control custom-radio custom-control-inline">
											<input type="radio" class="custom-control-input" name="participate" placeholder="Placeholder" value="No">
											<span class="custom-control-label">לא ישתתף</span>
										</label>
									</div>
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">הֶעָרָה</label>
								<textarea rows="5" cols="5" class="form-control" placeholder="הערה" name="comment"></textarea>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">שמירת נתונים</button>
						</div>
					</form> -->
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<p><a href="https://www.wedix.co.il/iPMamE" class="btn btn-default btn-sm">Save the date</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2022 Mariage de Eva et Liron.</small> 
						</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>

	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="{% static 'js/simplyCountdown.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

	<script>
    var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
</script>

	</body>
</html>

